asgiref==3.11.1
gunicorn==23.0.0
boto3==1.43.18
botocore==1.43.18
certifi==2026.5.20
charset-normalizer==3.4.7
cron-descriptor==1.4.5
crispy-tailwind==1.0.3
Django==5.1.2
django-apscheduler==0.7.0
django-crispy-forms==2.3
django-environ==0.13.0
django-storages==1.14.6
django-timezone-field==7.2.1
et_xmlfile==2.0.0
idna==3.17
jmespath==1.1.0
openpyxl==3.1.5
packaging==26.2
pillow==11.0.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-decouple==3.8
python-http-client==3.3.7
requests==2.34.2
s3transfer==0.18.0
sendgrid==6.12.5
six==1.17.0
sqlparse==0.5.5
starkbank-ecdsa==2.3.1
tzdata==2026.2
urllib3==2.7.0
